<%
	header = "'%s', "
	model = "{name:'%s', align:'right', index:'%s', width:45, formatter: formatMoney, cellattr: applyClass},"
	show_season = @seasons[:selected_season].id != @seasons[:seasons].first.id
%>
<script type="text/javascript">

function formatMoney(cell, options, row) {
	if (typeof cell == "undefined")
		return "";
		
	var a = parseFloat(cell.earning) || 0;
	if (a == 0)
		return (cell.shares || 0) > 0 ? cell.shares : "";
	
	if (a >= 1e9)
		return (a/1e9).toPrecision(3) + "b";
	if (a >= 1e6)
		return (a/1e6).toPrecision(3) + "m";
	if (a >= 1e3)
		return (a/1e3).toPrecision(3) + "k";
	return "";
}

function formatMoneyFull(cell, options, row) {
	return accounting.formatMoney(cell,'$',0)
}

function formatRating(cell, options, row) {
	if (cell == null || cell.rating == null)
		return "";
	return cell.rating + '%';
}

function applyClass(rowid, val, rawObject, cm, rdata) {
	if (typeof rawObject[cm.name] !== "undefined" && rawObject[cm.name].class != "")
		return "class='"+rawObject[cm.name].class+"' ";
}

function linkCells(){
	var cells = $("#list tr>td[aria-describedby='list_movie']");
	for (var i = 0; i < cells.length; i++) {
		var movie = cells.eq(i).parent().children().eq(0).html();
		var v = cells.eq(i).html();
		if (v != "") {
			v = "<a href=\"#\" onclick=\"popupDetails(&quot;/graph/details/" + movie + "&quot;);return false;\">" + v + "</a>";
			cells.eq(i).html(v);
		}
	}
	
	var cells = $("#list tr>td");
	for (var i = 0; i < cells.length; i++) {
		var v = cells.eq(i).html();
		if (v != "" && parseInt(v) == v) {
			cells.eq(i).addClass("shares");
		}
	}
}

$(function(){ 
  $("#list").jqGrid({
    datatype: 'json',
	mtype: 'GET',
    colNames:['ID','Movie', 'Rel.', 'Rating', 'Total', <%- if !@col_names.nil? then %><%= @col_names.html_safe %><% else @players.each do |p| %><%= header.html_safe % p.short_name -%><% end; end %>'Value'],
    colModel :[ 
	  {name:'id', index:'id', hidden:true},
	  {name:'movie', index:'movie', width:220},
	  {name:'releasedate', index:'releasedate', width:80},
	  {name:'rating', index:'rating', width:50, align:'right', formatter: formatRating, cellattr: applyClass},
      {name:'total', align:'right', classes:'tbl_bold', index:'total', width:50, formatter: formatMoney}, 
	  <% @players.each do |p| %>
		<%= model.html_safe % [p.short_name, p.short_name] %>
	  <% end %>
	  {name:'value', align:'right', classes:'tbl_bold', index:'value', width:50, formatter: formatMoney},
    ],
    rowNum:100,
	url: '/api/movie_data/<%= params[:team] %><%= show_season ? "?season=%s" % @seasons[:selected_season].slug : "" %>',
    sortname: 'releasedate',
    sortorder: 'asc',
    viewrecords: true,
    gridview: true,
	jsonReader : {
		repeatitems: false
	},
    caption: 'Scoreboard',
	height:'auto',
	gridComplete: linkCells,
	shrinkToFit: false,
	width:800
  }); 
  
    $("#tblStandings").jqGrid({
    datatype: 'json',
	mtype: 'GET',
    colNames:['Rank', 'Player', '% Used', 'Revenue'],
    colModel :[ 
	  {name:'rank', index:'rank', sorttype:'int', width:50},
	  {name:'player', index:'player', width:280, formatter:function(v,a,b){return v.long_name;}},
	  {name:'pct_in_use', align:'right', index:'pct_in_use', width:60},
      {name:'revenue', align:'right', classes:'tbl_bold', index:'revenue', width:120, formatter:formatMoneyFull}
    ],	
    rowNum:100,
	url: '/api/rankings/<%= params[:team] %><%= show_season ? "?season=%s" % @seasons[:selected_season].slug : "" %>',
    sortname: 'rank',
    sortorder: 'asc',
	height:'auto',
    viewrecords: true,
    gridview: true,
	jsonReader : {
		repeatitems: false
	},
    caption: 'Standings'
  });
  
}); 

</script>

<br/><br/>
<center>

<table id="main">
<tr>
<td id="main_left">

<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&#10;"><strong>Live Season Analysis</strong></a>
<table id="tblStandings"><tr><td/></tr></table>

<h3 style="text-align:center;">
		[ <%= link_to 'Shares', action:'shares', team: params[:team], season: show_season ? @seasons[:selected_season].slug : nil %> ]
</h3>
<h3 style="text-align:center;">
		[ <a href="#" onclick="return popupDetails('/graph/totals/<%= params[:team] %><%= show_season ? "?season=%s" % @seasons[:selected_season].slug : "" %>');">Weekly Totals</a> ]
		[ <a href="#" onclick="return popupDetails('/graph/rankings/<%= params[:team] %><%= show_season ? "?season=%s" % @seasons[:selected_season].slug : "" %>');">Weekly Rankings</a> ]
		[ <a href="#" onclick="return popupDetails('/graph/spread/<%= params[:team] %><%= show_season ? "?season=%s" % @seasons[:selected_season].slug : "" %>');">Weekly Spread</a> ]
</h3>

</td>
<td id="main_right">
	<table id="list"><tr><td/></tr></table>
	<strong><a href="#" onclick="return popupDetails('/graph/details<%= show_season ? "?season=%s" % @seasons[:selected_season].slug : "" %>');">All Movies Graph</a></strong>
</td>
</tr>
</table>

</center>
