<script type="text/javascript">
function sortMoney(cell)
{
	var base = parseFloat(cell) || 0;
	if (cell.indexOf("b") > 0)
		return base * 1000000000;
	if (cell.indexOf("m") > 0)
		return base * 1000000;
	if (cell.indexOf("k") > 0)
		return base * 1000;
		
	return base;
}

function linkCells()
{
	var cells = $("#list tr>td[aria-describedby='list_movie']");
	for (var i = 0; i < cells.length; i++)
	{
		var movie = cells.eq(i).parent().children().eq(0).html();
		var v = cells.eq(i).html();
		if (v != "")
		{
			v = "<a href=\"#\" onclick=\"popupDetails(&quot;/graph/details/" + movie + "&quot;);return false;\">" + v + "</a>";
			cells.eq(i).html(v);
		}
	}
}

$(function(){ 
  $("#list").jqGrid({
    datatype: 'local',
    colNames:['Movie', 'Rel.', 'Total', <%= $col_headers %> 'Value'],
    colModel :[ 
	  {name:'movie', index:'movie', width:150},
	  {name:'releasedate', index:'releasedate', width:80},
      {name:'total', align:'right', classes:'tbl_bold', index:'total', sorttype:sortMoney, width:50}, 
	  <%= $col_models %>
	  {name:'value', align:'right', classes:'tbl_bold', index:'value', sorttype:sortMoney, width:50},
    ],
    rowNum:100,
	data: <%= $output %>,
    sortname: 'releasedate',
    sortorder: 'asc',
    viewrecords: true,
    gridview: true,
	footerrow : true,
	userData : <%= $output_sums %>,
	userDataOnFooter : true,	
    caption: 'Scoreboard',
	height:'auto',
	gridComplete: linkCells,
	shrinkToFit: false,
	width:800
  }); 
  
    $("#tblStandings").jqGrid({
    datatype: 'local',
    colNames:['Rank', 'Player', '% Used', 'Revenue'],
    colModel :[ 
	  {name:'rank', index:'rank', sorttype:'int', width:50},
	  {name:'player', index:'player', width:280},
	  {name:'pct_in_use', align:'right', index:'pct_in_use', width:60},
      {name:'revenue', align:'right', classes:'tbl_bold', index:'revenue', width:120}
    ],	
    rowNum:100,
	data: <%= $output_rankings %>,
    sortname: 'rank',
    sortorder: 'asc',
	height:'auto',
    viewrecords: true,
    gridview: true,
    caption: 'Standings'
  });
  
}); 

</script>

<br/><br/>
<center>

<table id="main">
<tr>
<td id="main_left">

<table id="tblStandings"><tr><td/></tr></table>

<h3 style="text-align:center;">
	<% 	if !params[:team].nil? then %>
		[ <a href="#" onclick="return popupDetails('/graph/weekly/<%= params[:team] %>');">Weekly Totals</a> ]
		[ <a href="#" onclick="return popupDetails('/graph/rank/<%= params[:team] %>');">Weekly Rankings</a> ]
		[ <a href="#" onclick="return popupDetails('/graph/spread/<%= params[:team] %>');">Weekly Spread</a> ]
	<% else %>
		[ <a href="#" onclick="return popupDetails('/graph/weekly');">Weekly Totals</a> ]
		[ <a href="#" onclick="return popupDetails('/graph/rank')">Weekly Rankings</a> ]
		[ <a href="#" onclick="return popupDetails('/graph/spread');">Weekly Spread</a> ]
	<% end %>
</h3>

</td>
<td id="main_right">
	<table id="list"><tr><td/></tr></table>
</td>
</tr>
</table>

</center>