<%
	header = "'%s', "
	model = "{name:'%s', align:'right', index:'%s', width:35, sorttype:'int', formatter:formatShares, cellattr:applyClass},\r\n"
%>

<script type="text/javascript">

function formatShares(cell, options, row) {
	return cell.shares;
}

function applyClass(rowid, val, rawObject, cm, rdata) {
	if (rawObject[cm.name].class != "")
		return "class='"+rawObject[cm.name].class+"' ";
}

$(function(){ 
 
    $("#shares").jqGrid({
    datatype: 'json',
	mtype: 'GET',
    colNames:['Movie', 'Rel.', 'Total', <% @players.each do |p| %><%= header.html_safe % p.short_name -%><% end %>],
    colModel :[ 
	  {name:'movie', index:'movie', width:150},
	  {name:'releasedate', index:'releasedate', width:80},
      {name:'total', classes:'tbl_bold', align:'right', index:'total', sorttype:'int', width:50},
	  <% @players.each do |p| %>
		<%= model.html_safe % [p.short_name, p.short_name] %>
	  <% end %>
    ],
    rowNum:100,
	url: '/api/shares/<%= params[:team] %><%= params[:season].nil? ? "" : "?season="+params[:season] %>',
    sortname: 'releasedate',
    sortorder: 'asc',
	jsonReader : {
		repeatitems: false
	},
	height:'auto',
    viewrecords: true,
    gridview: true,
    caption: 'Share Distribution'
  });

}); 

</script>

<br/>
<center>
<div id="main">
<h3><%= @page_title %></h3>
<table id="shares"><tr><td/></tr></table>
</div>
</center>