<div class="movie">
	<div class="shares_container">
		Shares: <br/>
		<%= text_field_tag "shares[" + movie.id.to_s + "]", 0, {type:"tel", tabindex: index, size:3, maxlength:3, class:"shares_box"} %>
	</div>
	<div class="movie_name">
		<%= link_to movie.name, movie.imdb, {:target=>"_blank"} %>
	</div>
	<div class="movie_plot"><%= movie.plot %></div><br/>
	<div class="movie_actors">
		<strong>Director</strong>: <%= movie.director %><br/>
		<strong>Starring</strong>: <%= movie.actors %><br/>
		<strong>Release Date</strong>: <%= movie.release_date.strftime("%m/%d/%Y") %>
	</div>
</div>