<p>Now: <%= @now.rfc3339 %></p>
<p>First Movie Released: <%= @start_date.rfc3339 %></p>
<p>Last Movie Released: <%= @end_date.rfc3339 %></p>
<p>Season Ends: <%= @season_end_date.rfc3339 %></p>

<pre><%= @queries %></pre>