<p>Now: <%= $NOW.rfc3339 %></p>
<p>First Movie Released: <%= $START_DATE.rfc3339 %></p>
<p>Last Movie Released: <%= $END_DATE.rfc3339 %></p>
<p>Season Ends: <%= $SEASON_END_DATE.rfc3339 %></p>

<pre><%= @queries %></pre>