<%
	show_season = nav[:selected_season].id != nav[:seasons].first.id
%>
<div id="nav">
	<div class="moneyRemaining">
		<div id="progressbar"><div class="progress-label"></div></div>
	</div>
	<ul class="mainmenu">
		<% if params[:controller] == "main" 
			nav[:selected_season].teams.each do |t| %>
				<li <%= active?('/' + t.slug) %>><a href="/<%= t.slug %><%= show_season ? "/?season=%s" % nav[:selected_season].slug : "" %>"><%= t.name %></a></li>
			<% end
		end %>
		<li class="page_title">
			<%= nav[:selected_season].page_title %> &#9660;
			<div class="submenu" style="width:266px">
				<ul>
					<% nav[:seasons].each do |n| %>
						<li><a href="/?season=<%= n.slug %>"><%= n.name %></a></li>
					<% end %>
				</ul>
			</div>
		</li>
	</ul>
</div>
